<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.companyManage.dao.CompanyEmployeeMapper">
	<!-- 查询Employee -->
	<select id="getEmployeeList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			id,
			name,
			sex,
			birthday,
			education,
			address,
			phoneNumber,
			department,
			duty
		FROM
			company_employee
		<where>
			employeeState=1
			<if test="name !=null and name != ''">
				and name like '%${name}%'  
			</if>
		</where>
		order by id desc
	</select>
			
   	<!-- 根据员工id 获取所有信息  -->
   	<select id="getEmployeeById" parameterType="java.util.Map" resultType="java.util.Map">
 		SELECT
   			 id,
			name,
			sex,
			birthday,
			education,
			address,
			phoneNumber,
			department,
			duty
		FROM
			company_employee
		WHERE
			id = #{id}
   	</select>

	<!-- 根据员名称模糊查询  -->
   	<select id="getEmployeeByName" parameterType="java.util.Map" resultType="java.util.Map">
 		SELECT
   			id,
			NAME,
			birthday,
			education,
			address,
			phoneNumber,
			department,
			duty
		FROM
			company_employee
		WHERE
			employeeState =1 
			and 
			name = #{name}
		order by id desc
   	</select>
   
   	<!-- 增加一条员工信息 -->
   	<insert id="addEmployee" parameterType="java.util.Map">
   		INSERT INTO company_employee (
			name,
			sex,
			birthday,
			education,
			address,
			phoneNumber,
			department,
			duty
		)
		VALUES(
		#{name},
		#{sex},
		#{birthday},
		#{education},
		#{address},
		#{phoneNumber},
		#{department},
		#{duty}
		)
   	</insert>
   
   	<!-- 删除一条员工信息 -->
   	<update id="deleteEmployee" parameterType="java.util.Map">
  		 UPDATE company_employee
		 	SET employeeState = 0
		 WHERE
			id = #{id}
   	</update>
   	
	<!-- 修改一条员工信息 -->
	<update id="uptadeEmployee" parameterType="java.util.Map">
	UPDATE company_employee
		<set>
			name = #{name},
			sex = #{sex},
			birthday = #{birthday} ,
			education = #{education},
			address = #{address},
			phoneNumber = #{phoneNumber},
			department = #{department},
			duty = #{duty}
		</set>
		WHERE
		id = #{id}
	</update>
	
</mapper>
