<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.companyManage.dao.CompanyTrainMapper">

	<!-- 显示所有培训的信息和模糊查询 -->
	<select id="selectAllTrain" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT
				train.trainId AS trainId,
				train.trainTitle AS trainTitle,
				train.trainLecturer AS lecture,
				train.trainTime AS trainTime,
				train.other AS trainOther
			FROM
				company_train AS train
			WHERE
				train.state = 1
		<if test="other != null and other != ''">
			AND (
				train.other LIKE "%${other}%"
				or 
				train.trainTitle LIKE "%${other}%"
				)
		</if>
	</select>
	
	<!-- 通过id进行查询 -->
	<select id="selectTrainById" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			trainTitle,
			trainLecturer,
			trainTime,
			other
		FROM
			company_train
		WHERE
			trainId =#{trainId}
	</select>
	
	<!-- 向数据库中插入一条信息 -->
	<insert id="insertTrain" parameterType="java.util.Map">
		INSERT company_train (
			trainTitle,
			trainLecturer,
			trainTime,
			other
		) VALUES (
			#{trainTitle}, 
			#{trainLecturer}, 
			#{trainTime}, 
			#{other}
		)
	</insert>
	
	<!-- 修改培训信息 -->
	<update id="modifyById" parameterType="java.util.Map">
		UPDATE 
			company_train
		SET 
		<if test="trainTitle != null and trainTitle !=''">
			trainTitle = #{trainTitle},
		</if>
		<if test="trainLecturer != null and trainLecturer != ''">
			trainLecturer = #{trainLecturer},
		</if>
		<if test="trainTime != null and trainTime != ''">
			trainTime = #{trainTime},
		</if>
		 	other = #{other}
		WHERE
			trainId = #{trainId}
	</update>
	
	<!-- 通过id进行删除 -->
	<update id="deleteById" parameterType="java.util.Map">
		UPDATE company_train
		SET 
			state = 0
		WHERE
			trainId = #{trainId}
			
	</update>
</mapper>